<html>
    <head>
        <title> Launcher </title>
        <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    </head>
    <body>
        <div id="newGame">
            <h1>New Game</h1>
            <form hx-post="/createGame" hx-target="#GameWindow" hx-swap="afterend" >
                Enter Game Title
                <br/>
                <input type="text" name="gameName" placeholder="Insert Name Here" required/>
                <br/>
                <input type="hidden" name="gameID" value="1"/>
                <button type="submit">Create</button>
            </form>
        </div>
        <br/>
        <br/>
        <div id="loadGame">
            <button hx-get="/GetGamesHtml" hx-target="#selectTable" hx-swap="innerHTML">View Games</button>
            <table id="selectTable">
                <tbody id="ExistingGameBody">
                </tbody>
            </table>
        </div>
        <div id="GameWindow">
            
        </div>
    </body>
</html>
